<app-sidebar></app-sidebar>
<div class="mode-content">
  <div class="container-fluid mt-5">
    <form [formGroup]="categoryForm"  (ngSubmit)="onFormSubmit()"> 
     <div class="row">
       <table class="table">
        <tr>
          <td class="control-label">Name </td>
          <td>
            <input type="hidden" name="id" class="form-control" >
            <input class="form-control"  type="text" formControlName="name">
            <span *ngIf="!categoryForm.get('name').value && categoryForm.get('name').touched"></span>  
         
          </td>
        </tr>
         <tr>
          <td colspan="2">
            <button type="submit" class="btn btn-primary" [disabled]="!categoryForm.valid">Save</button> 
            <button type="reset"  class="btn btn-primary ml-3"  (click)="resetForm()">Reset</button>  

          </td>
          
        </tr>
      </table> 
    </div> 
 
    <div class="row">

      <div class="table-responsive">
      <table class="table table-striped ">
        <tr>
          <td scope="col">Id</td>
          <td scope="col">Name <i class="fa fa-sort"></i></td>
          <td scope="col">Action</td>
          <!-- <td scope="col">Edit</td>
          <td scope="col">Delete</td> -->

        </tr>
        <tr *ngFor="let item of categoryList">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td> 
            <button type="button" class="btn btn-primary  " [routerLink]="['./show',item.id]">
              <!-- <i class="fa fa-eye"></i> -->Details
            </button> |
         
            <button type="button" class="btn btn-info"  (click)="loadCaategoryToEdit(item.id)">Edit</button>  
             |
          <button type="button" class="btn btn-danger" (click)="deleteCategory(item.id)"> Delete</button>  
        </td>
        </tr>
       
      </table>
    </div>
    </div>
  </form> 
 
     
</div>
</div>
